html
  head
    title Zendesk Ticket Viewer
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='./css/ticket.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  body
    .ticket
      .ticket-header.clearfix
        a.logo(href='#')
          img(src='https://d1eipm3vz40hy0.cloudfront.net/images/p-brand/zendesk-wordmark.svg', alt='Swiss Airline')
      .break

      .ticket-body
        .sk-circle
          .sk-circle1.sk-child
          .sk-circle2.sk-child
          .sk-circle3.sk-child
          .sk-circle4.sk-child
          .sk-circle5.sk-child
          .sk-circle6.sk-child
          .sk-circle7.sk-child
          .sk-circle8.sk-child
          .sk-circle9.sk-child
          .sk-circle10.sk-child
          .sk-circle11.sk-child
          .sk-circle12.sk-child


      script(src='./javascripts/loadredirect.js')
